.section-about {
  padding: 5rem 1.5rem 7.5rem 1.5rem;

  .about {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 5rem;
    position: relative;

    @include respond(tab-port) {
      flex-direction: column; 
    }

    &__left {
      width: 25%;  
      position: relative;
      text-align: left;

      @include respond(tab-port) {
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        order: 2;
        text-align: center;
      }


      & img {
        margin-top: 1.5rem;
        margin-bottom: 5rem;
        width: 25rem;
        border-radius: .5rem;

        @include respond(phone) {
          margin-bottom: 5rem;
        }
      }

      &-skills {
        text-align: left;
        opacity: 0.9;
        
        &__title {
          margin-bottom: 2rem;
        }

        &__item {
          padding: .6rem 1.8rem;
          background: #222;
          border-radius: .5rem;
          font-size: 1.8rem;
          min-width: 24rem;

          @include respond(tab-port) {
            display: inline-block;
          }

          @include respond(phone) {
            display: block;
            width: 100%;
          }

          &:not(:last-child) {
            margin-bottom: 1.5rem;

            @include respond(tab-port) {
              margin-right: 1rem;
            }
          }

          i {
            margin-right: 1rem;
            color: var(--color-primary);
          }
        }
      }
    }

    &__right {
      width: 75%;
      padding-left: 7.5rem;
      padding-bottom: 7.5rem;

      @include respond(tab-port) {
        width: 100%;
        margin: 0 auto 5rem auto;
        padding: 0 2rem;
        order: 1;
      }

      @include respond(phone) {
        margin-bottom: 2.5rem;
      }

      &-heading {
        margin-bottom: 2.5rem;
      }

      &-text {
        margin-bottom: 2.5rem;
        font-size: 2.2rem;
        opacity: .9;

        & b {
          font-weight: 800;
          color: var(--color-primary);
        }
      }
    }
  }
}