.hero-section {
  height: 100vh;
  padding: 0 5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)),
    url('../img/funnelbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include respond(tab-land) {
    padding: 0 3.5rem;
    height: auto;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7rem;

    @include respond(tab-land) {
      padding: 0rem auto 3rem auto;
      max-width: 65rem;
      text-align: center;
      justify-content: center;
    }
    
    &__left {
      width: 50%;

      @include respond(tab-land) {
        width: 100%;
        text-align: center;
      }

      // @include respond(hero-image) {
      //   width: 65%;
      // }

      // @include respond(tab-port) {
      //   width: 100%;
      //   text-align: center;
      // }

      &-heading {
        margin-bottom: 1.5rem;
        color: var(--color-bg);

        @include respond(tab-port) {
          margin-bottom: 2.5rem;
        }
      }

      &-subheading {
        margin-bottom: 2rem;
        color: var(--color-bg);
        font-weight: 600;

        @include respond(tab-port) {
          margin-bottom: 3.5rem;
        }
      }

      &-btn {
        text-align: center;
        min-width: 22rem;
      }

      &-social {
        display: flex;
        margin-bottom: 2rem;

        @include respond(tab-land) {
          justify-content: center;
          margin-bottom: 3.5rem;
        }

        &__item {

          & a {
            font-size: 2.6rem;
            padding: 0 .5rem;
            color: var(--color-bg);
            transition: all .3s;

            &:hover {
            color: var(--color-primary);
            } 
          }     

          &:not(:last-child) a {
            margin-right: 1rem;
          }
        }

      }
    }

  }

  .hero-img {
    position: absolute;
    bottom: 0;
    right: 125px;
    width: 40%;

    @include respond(tab-land) {
      display: none;
    }
  }

  .hero-img-mobile {
    display: none;
    
    @include respond(tab-land) {
      margin: 4.5rem auto 4.5rem auto;
      display: block;
      border-radius: 50%;
      width: 12rem;
      border: 5px solid var(--color-primary);
    }
  }
}
