.hero-section {
  padding-bottom: 10rem;

  

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;

    &__left {
      width: 60%;
      padding-right: 7.5rem;

      &-heading {
        margin-bottom: 1.5rem;
      }

      &-subheading {
        margin-bottom: 2rem;
      }

      &-btn {
        margin-right: 1.5rem;
        text-align: center;
        min-width: 22rem;
      }

      &-social {
        display: flex;
        margin-bottom: 2rem;

        &__item {

          & a {
            font-size: 2.2rem;
            padding: 0 1rem;
            color: #fff;
          }

          &:not(:last-child) a {
            margin-right: 1rem;
          }
        }

      }
    }

    &__right {
      width: 40%;
      text-align: center;

      &-img {
        width: 30rem;    
        border-radius: 25rem;
      }
    }
  }

  


}
