.hero-section {
  height: 100vh;
  padding: 0 2rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)),
    url('../img/funnelbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7rem;
    
    &__left {
      width: 50%;

      &-heading {
        margin-bottom: 1.5rem;
        color: var(--color-bg);
      }

      &-subheading {
        margin-bottom: 2rem;
        color: var(--color-bg);
        font-weight: 600;
      }

      &-btn {
        margin-right: 1.5rem;
        text-align: center;
        min-width: 22rem;
      }

      &-social {
        display: flex;
        margin-bottom: 2rem;

        &__item {

          & a {
            font-size: 2.6rem;
            padding: 0 .5rem;
            color: var(--color-bg);
            transition: all .3s;

            &:hover {
            color: var(--color-primary);
            } 
          }     

          &:not(:last-child) a {
            margin-right: 1rem;
          }
        }

      }
    }

  }

  .hero-img {
    position: absolute;
    bottom: 0;
    right: 125px;
    width: 40%;
  }
}
