.section-portfolio {
  padding: 10rem 2rem;
  text-align: center;

  @include respond(phone) {
    padding: 10rem 2rem 7.5rem 2rem;
  }

  .portfolio-heading {
    margin-bottom: 2.5rem;
  }

  .portfolio-subheading {
    max-width: 84rem;
    margin: 0 auto;
    opacity: .9;
  }
}

