.section-portfolio {
  padding: 10rem 1.5rem;
  
  .section-title {
    text-align: center;
    margin-bottom: 5rem;

    & h2 {
      margin-bottom: 1.5rem;
    }
  }
}

.portfolio-subheading {
  max-width: 75rem;
  margin: 0 auto;
}