.section-testimonials {
  padding: 5rem 1.5rem;
  background-color: var(--color-primary);

  .testimonial {
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
    color: #fff;
    padding: 12.5rem 0;
   

    &__icon {
      position: absolute;
      top: 0;
      left: 0rem;
      font-size: 3.2rem;
      color: var(--color-bg);
    }

    &__heading {
    }

    &__small {
      font-size: 1.6rem;
      font-weight: 800;
    }

    &__text {
      margin-top: 1.5rem;
      color: #fff;
      opacity: .9;
      font-weight: 400;
    }

  }
}