.btn {
  display: inline-block;
  padding: 1.6rem 4.8rem;
  border-radius: 25rem;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0;
  transition: all .3s;

  &:hover {
    transform: translateY(-5px);
  }
  

  &--primary {
    color: #fff;
    background-color: var(--color-primary);
  }

  &--secondary {
    color: #222;
    background-color: #fff;
  }
}

.floating {
  position: fixed;
  bottom: 32px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__btn {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1),
      0 2px 4px -1px rgba(0, 0, 0, .06);

    &-icon {
      text-align: center;
      display: inline-block;
      color: #fff;
      font-size: 20px;
    }
  }
}