/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px 50px;
  max-width: 900px;
  max-height: 100vh;
  border-radius: 5px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  display: flex;
  flex-direction: row;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}


// Custom Styles

.modal__title {
  color: var(--color-primary);
}

.modal__left {
  width: 35%;

  & img {
    width: 100%;
    cursor: pointer;
  }
}

.modal__right {
  width: 100%;
  padding: 0 10rem 3rem 5rem;
}

.modal__title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.modal__text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.modal__live {
  font-size: 1.6rem;
  margin-right: 1.5rem;

  i {
    color: #222;
  }
}

.modal__github {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;

  i {
    color: #222;
  }
}

.modal__btn {
  font-size: 1.6rem;
  color: var(--color-bg);

  &--site {
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 25rem;
    padding: .7rem 2.1rem;

    &:hover {
    }

    & i {
      font-size: 1.2rem;
    }
  }
}

.modal__labels {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.modal__label {
  display: inline-block;
  border-radius: 25rem;
  padding: .5rem 1.7rem;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 1rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &--react {
    background-color: #03A9F4;
  }

  &--redux {
    background-color: #673AB7;
  }

  &--webpack {
    background-color: #00BCD4;
  }

  &--sass {
    background-color: #E91E63;
  }

  &--apis {
    background-color: #FF9800;
  }

  &--node {
    background-color: #00C853;
  }

  &--materialui {
    background-color: #F44336;
  }

  &--bootstrap {
    background-color: #2196F3;
  }
}

