
.navbar {
  background: transparent;
  padding: 1.7rem 1.7rem 2rem 2.4rem;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s;
  z-index: 999;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Source Sans Pro',
      sans-serif;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    color: var(--color-primary);

    @include respond(tab-port) {
      margin-bottom: 1rem;
    }

    & i {
      margin-right: 10px;
      font-size: 4.5rem;
      display: inline-block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      display: none;
    }

    &-item {

      &:not(:last-child) a {
        margin-right: 20px;

        @include respond(tab-port) {
          margin-right: 7px;
        }
      }

      & a {
        padding: 7px 10px;
        font-weight: 800;
        font-size: 2rem;
        color: #fff;
        letter-spacing: 1px;
        transition: all .3s;

        &:hover {
          color: var(--color-primary);
        }

        @include respond(phone) {
          padding: 5px 0;
        }
      } 
    }
  }
}

.sideNav {
  display: none;
  position: absolute;
  top: 5.5rem;
  right: 2rem;
  z-index: 9999;
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  

  &--open {
    display: flex;
  }

  &__icon {
    color: #fff;
    display: none;
    font-size: 2.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
    opacity: .7;

    @include respond(phone) {
      display: inline-block;
    }
  }

  &__item {
    width: 100%;

    & a {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 2rem 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.6rem;
      opacity: 0.5;
      color: #666;
      letter-spacing: 1px;
      transition: all .3s;
      border-bottom: 1px solid #ccc;
      & span {
        margin-left: 0.8rem;
      }

      &:hover {
        opacity: 0.9;
        cursor: pointer;
        color: var(--color-primary);
      }
    }
  }
}
