.slider {
  max-width: 100rem;
  margin: 5rem auto 10rem auto;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  @include respond(tab-port) {
   display: none;
  }
}

.item {
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.slider-mobile {
  display: none;
  
  @include respond(tab-port) {
    display: block;
    margin: 5rem auto 10rem auto;
  }

  @include respond(phone) {
    display: block;
    margin: 5rem auto 8rem auto;
   }

  &__row {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    @include respond(phone) {
      gap: 1.5rem;
    }
    
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    .item {
      margin: 0 5rem 0 5rem;

      @include respond(phone) {
        margin: 0 1.5rem 0 1.5rem;
      }
    }
  }
}