

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans',
    sans-serif;
  line-height: 1.7;
  color: #fff;
  position: relative;
  background: var(--color-bg);
  opacity: .95;
}

html {
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 56.25%;
  }

  // @include respond(phone) {
  //   font-size: 50%;
  // }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  color: #777;
}


input,
textarea {
  outline: none;
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;

  @include respond(big-desktop) {
    max-width: 140rem;
  }
}

span {
  white-space: nowrap;
}

