// Base Typography
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro',
    sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
}

h1 {
  font-size: 6.3rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 4.7rem;

}

h3 {
  font-size: 3.5rem;

}

h4 {
  font-size: 2.7rem;
}


p {
  font-size: 2rem;
}